body {
    background-color: #d6d6d6;
    font-family: Arial, sans-serif;
   }
  .login-container {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    opacity: 0;
    animation: fadeIn 1s forwards;
   }
   h1 {
    background: -webkit-linear-gradient(45deg, rgb(0, 123, 255), lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
   .input-container {
    margin-bottom: 20px;
   }
   
   label {
    display: block;
    margin-bottom: 5px;
   }
   
   input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
   }
   
   input:focus {
    border-color: #6699cc;
    outline: none;
   }
   
   button {
    width: 100%;
    padding: 10px;
    background-color: #428dd7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
   }
   
   button:hover {
    background-color: #336699;
   }
  
   a{
    width:fill;
    padding: 10px;
    color:#1c7fe2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   a:hover{
    color: rgb(33, 91, 214);
   }
   
   @keyframes fadeIn {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
    }
/* body {
    background-color: #f0f0f0;
}

.login-container {
    height: 32s0px;
    width: 300px;
    padding: 50px;
    background: #fff;
    margin: 100px auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.login-container h1 {
    font-weight: 500;
    text-align: center;
    color: #333;
    margin-bottom: 24px;
}

.login-container label {
    display: block;
    color: #777;
    margin-bottom: 4px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #0056b3;
    font-weight: 300;
}

.sign-in-button {
    width: 90%;
    color: skyblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
   }
   
   .sign-in-button:hover {
    color: red;
    font-weight: 300;
   } */